services:
  nextjs-app:
    build:
      context: .
      args:
        NEXT_PUBLIC_ANALYTICS_ID: ${NEXT_PUBLIC_ANALYTICS_ID}    
    # ports: 
    #   - "3000:3000"
    environment:
      NODE_ENV: ${NODE_ENV}
      NEXT_PUBLIC_ANALYTICS_ID: ${NEXT_PUBLIC_ANALYTICS_ID}
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true